<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/detail.css" />
    <script src="/js/api.js"></script>
  </head>
  <body>
    <div id="wrap">
      <div>
        <h1 id="blogTItle" onclick="location.href='/article'">Hanghae Blog2</h1>
        <hr />
      </div>
      <section>
        <div class="title"><%=detail.title%></div>
        <div id="second">
          <div class="writer"><%=detail.userId%></div>
          <div id="secondR">
            <div id="like">
              <div id="likeCnt"><%=detail.like%></div>
            </div>
            <div class="date"><%=detail.date%></div>
          </div>
        </div>
        <hr />
        <div class="desc"><%=detail.desc%></div>
        <hr />
      </section>
      <section>
        <div class="commentAlert">댓글</div>
        <div id="commentList"></div>
        <div id="commentForm">
          <input
            id="inputComment"
            type="text"
            class="form-control"
            placeholder="댓글을 작성해주세요."
            onclick="loginCheck()"
          />
          <button
            id="btnCom"
            class="btn btn-default"
            onclick="postComment(<%=detail.number%>)"
          >
            작성
          </button>
        </div>
      </section>
    </div>
    <script>
      getComment(<%=detail.number%>);
      checkLike(<%=detail.number%>);
    </script>
  </body>
</html>
